@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Major+Mono+Display&display=swap");

body {
  background-color: #ffffff;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 #00000033;
  padding: 2px;
  margin-bottom: 0.8rem;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  height: 2rem;
  width: 2rem;
  margin-right: -1rem;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  color: #57626b;
  cursor: pointer;
  margin-left: -1rem;
}

#earbuds {
  color: #1a73e8;
  font-weight: bold;
  text-decoration: none;
}
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
a:hover {
  font-weight: bold;
}
.icons {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem;
  color: #57626b;
}
.center {
  display: flex;
  flex-direction: row;
}

.models {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}
#model-earbud {
  height: 3rem;
  width: 3.5rem;
  border: 1px solid #353a49;
  border-radius: 50%;
  cursor: pointer;
}
#central {
  width: 35rem;
  background-color: #f8f8fa;
}
#main-right {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30% 30% 40%;
}
span {
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  color: #57626b;
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2,
.price {
  font-weight: bold;
}
.colors {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
#blue,
#white,
#black,
#grey,
#green,
#orange {
  height: 25px;
  width: 25px;
  border: 1px solid #353a49;
  border-radius: 50%;
}
#blue {
  background-color: #9ec6ea;
}
#white {
  background-color: #e7e4df;
}
#black {
  background-color: #4b4b4d;
}
#grey {
  background-color: #d0d9d8;
}
#green {
  background-color: #dfe5b7;
}
#orange {
  background-color: #e58177;
}
#delivery {
  background-color: #f8f8fa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#add {
  display: flex;
  flex-direction: row;
  justify-content: flex-baseline;
  align-self: flex-start;
  justify-self: stretch;
}
select {
  border: 1px solid #57626b;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
  text-align: center;
}
button {
  background-color: #1a73e8;
  color: white;
  border: none;
  margin-left: 5px;
  padding: 1rem 3.7rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

footer {
  background-color: #f8f8fa;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  gap: 0.6rem;
  cursor: pointer;
}
.footer-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  gap: 1.2rem;
  font-family: Inter, sans-serif;
  font-size: 0.6rem;
  color: #57626b;
  cursor: pointer;
}

