@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Major+Mono+Display&display=swap");
html,
body {
  height: 100%;
}
body {
  background-color: #ffffff;
  font-family: Inter, sans-serif;
  max-height: 90vh;
}

header {
  background-color: transparent;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 #00000033;
  padding: 2px;
}
.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  height: 25px;
  width: 30px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  color: #57626b;
  cursor: pointer;
}
#earbuds {
  color: #1a73e8;
  font-weight: bold;
  text-decoration: none;
}
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
a:hover {
  font-weight: bold;
}
.icons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  cursor: pointer;
}

main {
  display: grid;
  width: 100%;
  height: 90%;
  grid-template-columns: 15% 60% 25%;
  justify-items: center;
  align-items: center;
}
.main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.models {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
#model-earbud {
  height: 35px;
  width: 45px;
  border: 1px solid #353a49;
  border-radius: 50%;
}
#model-earbud:hover {
  border: 1px solid #57626b;
}
#central {
  width: 70%;
  background-color: #f8f8fa;
}
#main-right {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30% 30% 40%;
}
span {
  font-family: Inter, sans-serif;
  font-size: 12px;
  color: #57626b;
}
h1 {
  font-size: 24px;
  font-weight: bold;
}

h2,
p {
  font-weight: bold;
}
.colors {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
#blue {
  background-color: #9ec6ea;
  height: 25px;
  width: 25px;
  border: 1px solid #353a49;
  border-radius: 50%;
}
#white {
  background-color: #e7e4df;
  height: 25px;
  width: 25px;
  border: 1px solid #353a49;
  border-radius: 50%;
}
#black {
  background-color: #4b4b4d;
  height: 25px;
  width: 25px;
  border: 1px solid #353a49;
  border-radius: 50%;
}
#grey {
  background-color: #d0d9d8;
  height: 25px;
  width: 25px;
  border: 1px solid #353a49;
  border-radius: 50%;
}
#green {
  background-color: #dfe5b7;
  height: 25px;
  width: 25px;
  border: 1px solid #353a49;
  border-radius: 50%;
}
#orange {
  background-color: #e58177;
  height: 25px;
  width: 25px;
  border: 1px solid #353a49;
  border-radius: 50%;
}
#delivery {
  background-color: #f8f8fa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#add {
  display: flex;
  flex-direction: row;
  justify-content: flex-baseline;
  align-self: flex-start;
  justify-self: stretch;
}
select {
  border: 1px solid #57626b;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}
button {
  background-color: #1a73e8;
  color: white;
  border: none;
  margin-left: 5px;
  padding: 15px 60px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #3a79cc;
}
footer {
  background-color: #f8f8fa;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
}
.footer-ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  gap: 15px;
  font-family: Inter, sans-serif;
  font-size: 10px;
  color: #57626b;
  cursor: pointer;
}
