html,
body {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: "Inter",
        sans-serif;
}

:root {
    --titles: 35px;
    --subtitles: 20px;
    --text-bold: 12px;
    --text: 12px;
    --footer-text: 8px;
    --blue-color: #1A73E9;
    --background-color: #F8F9FB;
    --bold: bold;
}

.titles {
    font-size: var(--titles);
    margin: 0.2rem;
}

.subtitles {
    font-size: var(--subtitles);
}

.text {
    font-size: var(--text);
}

.text-bold {
    font-size: var(--text-bold);
}

.bold {
    font-weight: var(--bold);
}

.logo {
    height: 1.5rem;
}

.header {
    width: 100%;
    height: 2rem;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.navbar-container {
    height: 2rem;
    width: 98%;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 0 0.5rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 0 0.5rem;
}

.navbar a.active {
    color: var(--blue-color);
    font-weight: var(--bold);
    font-size: var(--text-bold);
}

a {
    text-decoration: none;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.hamburger {
    display: none;
}

main {
    margin: 1rem 0;
    height: 70vh;
    display: grid;
    grid-template-columns: 65% 35%;
}

.product {
    margin: 0;
}

.product p {
    margin: 0 1rem;
}

.product-detail {
    margin-top: 1.5rem;
}

.main-img {
    width: 95%;
    height: 40vh;
    background-color: var(--background-color);
    border-radius: 2%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.detail-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0;
}

.small-img {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 98%;
}

.smartwatch-box {
    border: 1px solid black;
    border-radius: 5%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
    height: 5rem;
    width: 7rem;
}

.buy {
    width: 90%;
    height: 20vh;
    background-color: var(--background-color);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.option-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;

}

select {
    width: 15%;
    border-radius: 10%;
}

button {
    width: 60%;
    height: 2rem;
    background-color: var(--blue-color);
    color: white;
    border: none;
    border-radius: 2%;
}

.delivery {
    margin-top: 0.5rem;
}

.delivery img {
    margin-right: 1rem;
}

span {
    color: var(--blue-color);
}

footer {
    display: grid;
    position: absolute;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    background-color: var(--background-color);
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
    align-content: center;
    height: 2rem;
    width: 100%;
}

.social-media {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 2rem;
    font-size: var(--footer-text);
}

.flag {
    width: 1.2rem;
    margin-inline: 1rem;
    align-items: center;
}

@media all and (min-width: 576px) and (max-width: 768px) {
    header {
        height: 10vh;
    }

    .navbar {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        height: 90vh;
        margin: 0.5rem;
    }

    .product {
        grid-area: product;
        height: 30vh;
        width: 100%;
        margin: 0 ;
    }

    .main-img {
        height: 30vh;
        width: 100%;
        justify-items: center;
        margin: 0;
        padding: 0;
    }

    .main-img img {
        height: 30vh;
        justify-items: center;
    }

    .product-details {
        margin-top: 1rem;
        height: 20vh;
    }

    .product-detail {
        grid-area: product-detail;
        margin: 0;
    }


    .choose-product {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 25%;
    }


    .choose-color {
        grid-area: choose-color;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
        gap: 1rem;

    }

    .detail-container {
        grid-area: detail-container;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .smartwatch-box {
        height: 14vh;
        width: 4.5rem;
        display: flex;
        margin-top: 1rem;
    }

    .smartwatch-box p {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .buy {
        grid-area: buy;
        width: 100%;
        margin: 0;
        padding: 1rem;
        flex-direction: column;
        justify-content: space-between;
    }

    footer {
        width: 100%;
        height: 5vh;
        bottom: 0;
        margin: 0 ;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
    }

    .social-media {
        width: 100%;

    }

    .flag {
        margin-top: -10px;
        align-items: center;
    }

    .footer-text {
        gap: 0.5rem;
        width: 100%;
        margin: 0;
    }
}

@media all and (max-width: 576px) {


    .hamburger {
        display: flex;
        width: 5rem;
        height: 4rem;
    }

    .navbar-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar a {
        display: none;
    }

    .icons img {
        display: flex;
        justify-content: center
    }

    main {
        display: flex;
        flex-direction: column;
        justify-items: center;

    }

    .main-img {
        height: 30%;
    }

    .main-img img {
        height: 350%;
    }

    .product {
        margin: 0;
        height: 20%;
    }

    .product-details {
        margin: 0.5rem;
        height: 20%;
    }

    .detail-container {
        height: 10vh;
        width: 80%;
    }

    .choose-product {
        width: 100%;
        margin: 0.2rem;
    }

    .smartwatch-box {
        width: 6rem;
        display: flex;
        justify-content: center;
    }

    .buy {
        height: 10vh;
        width: 100%;
    }

    footer {
        height: 18vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        row-gap: 0;
    }

    .footer-text p:first-child {
        display: flex;
        order: -1;
    }


}